<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8b67fd">  <td>20/05/10 10:01:43</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;ProgressiveWebPagesTest.TeardownTest()[pri:0, instance:test.ProgressiveWebPagesTest@53f65459]">&lt;&lt;TeardownTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1484594489</td>   <td></td> </tr>
<tr bgcolor="8b67fd">  <td>20/05/10 10:01:22</td>   <td>-20555</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProgressiveWebPagesTest.eightPageTest()[pri:7, instance:test.ProgressiveWebPagesTest@53f65459]">eightPageTest</td> 
  <td>main@1484594489</td>   <td></td> </tr>
<tr bgcolor="8b67fd">  <td>20/05/10 10:00:41</td>   <td>-61520</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProgressiveWebPagesTest.fifthPageTest()[pri:4, instance:test.ProgressiveWebPagesTest@53f65459]">fifthPageTest</td> 
  <td>main@1484594489</td>   <td></td> </tr>
<tr bgcolor="8b67fd">  <td>20/05/10 09:59:20</td>   <td>-142759</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProgressiveWebPagesTest.firstPageTest()[pri:0, instance:test.ProgressiveWebPagesTest@53f65459]">firstPageTest</td> 
  <td>main@1484594489</td>   <td></td> </tr>
<tr bgcolor="8b67fd">  <td>20/05/10 09:59:52</td>   <td>-110650</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProgressiveWebPagesTest.forthPageTest()[pri:3, instance:test.ProgressiveWebPagesTest@53f65459]">forthPageTest</td> 
  <td>main@1484594489</td>   <td></td> </tr>
<tr bgcolor="8b67fd">  <td>20/05/10 09:59:14</td>   <td>-148970</td> <td>&nbsp;</td><td title="&gt;&gt;ProgressiveWebPagesTest.initialize()[pri:0, instance:test.ProgressiveWebPagesTest@53f65459]">&gt;&gt;initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1484594489</td>   <td></td> </tr>
<tr bgcolor="8b67fd">  <td>20/05/10 09:59:26</td>   <td>-136752</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProgressiveWebPagesTest.secondPageTest()[pri:1, instance:test.ProgressiveWebPagesTest@53f65459]">secondPageTest</td> 
  <td>main@1484594489</td>   <td></td> </tr>
<tr bgcolor="8b67fd">  <td>20/05/10 10:01:02</td>   <td>-41142</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProgressiveWebPagesTest.seventhPageTest()[pri:6, instance:test.ProgressiveWebPagesTest@53f65459]">seventhPageTest</td> 
  <td>main@1484594489</td>   <td></td> </tr>
<tr bgcolor="8b67fd">  <td>20/05/10 10:01:01</td>   <td>-41465</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProgressiveWebPagesTest.sixthPageTest()[pri:5, instance:test.ProgressiveWebPagesTest@53f65459]">sixthPageTest</td> 
  <td>main@1484594489</td>   <td></td> </tr>
<tr bgcolor="8b67fd">  <td>20/05/10 09:59:27</td>   <td>-136042</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProgressiveWebPagesTest.thirdPageTest()[pri:2, instance:test.ProgressiveWebPagesTest@53f65459]">thirdPageTest</td> 
  <td>main@1484594489</td>   <td></td> </tr>
</table>
