<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite1</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="727982">  <td>20/05/01 22:51:06</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;ProgressiveWebPagesTest.TeardownTest()[pri:0, instance:test.ProgressiveWebPagesTest@3712b94]">&lt;&lt;TeardownTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2056418216</td>   <td></td> </tr>
<tr bgcolor="727982">  <td>20/05/01 22:51:05</td>   <td>-1232</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProgressiveWebPagesTest.executeTestCases()[pri:0, instance:test.ProgressiveWebPagesTest@3712b94]">executeTestCases</td> 
  <td>TestNG-test=Test1-1@34648487</td>   <td></td> </tr>
<tr bgcolor="727982">  <td>20/05/01 22:51:01</td>   <td>-5401</td> <td>&nbsp;</td><td title="&gt;&gt;ProgressiveWebPagesTest.initialize()[pri:0, instance:test.ProgressiveWebPagesTest@3712b94]">&gt;&gt;initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2056418216</td>   <td></td> </tr>
<tr bgcolor="6c6fbb">  <td>20/05/01 22:50:59</td>   <td>-7940</td> <td>&nbsp;</td><td title="&gt;&gt;ObjectClassForGoogleTest.invokeBrowser()[pri:0, instance:test.ObjectClassForGoogleTest@2833cc44]">&gt;&gt;invokeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2056418216</td>   <td></td> </tr>
<tr bgcolor="6c6fbb">  <td>20/05/01 22:51:05</td>   <td>-1232</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ObjectClassForGoogleTest.performAction()[pri:0, instance:test.ObjectClassForGoogleTest@2833cc44]">performAction</td> 
  <td>TestNG-test=Test1-2@123764267</td>   <td></td> </tr>
<tr bgcolor="6c6fbb">  <td>20/05/01 22:51:06</td>   <td>-219</td> <td>&nbsp;</td><td title="&lt;&lt;ObjectClassForGoogleTest.tearDownTest()[pri:0, instance:test.ObjectClassForGoogleTest@2833cc44]">&lt;&lt;tearDownTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2056418216</td>   <td></td> </tr>
</table>
